@font-face{
    font-family: "JF Flat Regular";
    src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'), url("../fonts/JF-Flat-regular.svg#JF Flat Regular") format('svg'), url(../fonts/JF-Flat-regular.ttf) format('truetype'), url(../fonts/JF-Flat-regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: "JF Flat Regular" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #000066;
}



.custom-navbar{
    border-bottom: 3px solid #D0D0F2;
    width: 100%;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.custom-navbar .container{
    padding: 0;
}

.custom-navbar .container .navbar-brand{
    margin-left: 30px;
}

.custom-form-control, .custom-btn{
    color: #000066;
    border: 1px solid #D0D0F2;
    box-shadow: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 8.5px 13px;
    transition: all .3s ease;
}

.custom-navbar .custom-form-control:focus{
    box-shadow: 0 0 5px 0 #000066;
    border-color: #000066;
}

.categroies .nav-link{
    border-right: 0;
    border-radius: 0;
}

.custom-form-control::placeholder{
    color: #000066;
}

.custom-btn:hover{
    background-color: #E7E7F8;
    border-color: #000066;
}


.custom-dropdown-menu{
    border-radius: 2px;
    border-color: #D0D0F2;
    box-shadow: 2px 2px 5px 0 #D0D0F2;
    color: #000066;
}

.custom-dropdown-menu .checkbox{
    display: inline-block; 
    margin-right: 5px;
}

.custom-dropdown-menu .checkbox label input{
    margin-left: 5px;
}

.custom-dropdown-menu li>a{
    color: #000066; 
}

.custom-navbar .custom-btn-primary{
     background-color: #B82D26;
     border-color: #B82D26;
     color: #fff;
     border-radius: 0px;
     padding: 8px 17px;
     font-size: 14px;
     font-weight: 700;
}

.custom-navbar .custom-btn-primary:hover,
.custom-navbar .custom-btn-primary:active,
.custom-navbar .custom-btn-primary:focus,
.custom-navbar .custom-btn-primary:active:focus,
.custom-navbar .custom-btn-primary:active:hover {
    background-color: #A11610;
    border-color: #A11610;
}

.custom-navbar .navbar-nav>li{
    margin:0;
}

.custom-navbar .navbar-nav li a.nav-link{
    color: #000066;
    font-size: 14px;

}

.custom-navbar .navbar-nav li a.nav-link:hover{
    font-weight: 450;
}

.custom-navbar .navbar-nav li.active>a.nav-link{
    color: #A11610;
    font-weight: 700;
    border-bottom: 1px solid #A11610;
    padding-bottom: 10px;
}


.custom-navbar .navbar-nav li.active>a.nav-link:hover{
    background-color: #F0D5D3;
}

.custom-dropdown-menu li:hover{
    background-color: #F7EAE9;
}

.custom-navbar .btn-icon{
    color: #000066;
    border: 1px solid #D0D0F2;
    box-shadow: none;
    border-radius: 2px;
    font-size: 12px;
    transition: all .3s ease;
    padding-bottom: 8px;
    padding-top: 7px;
    background-color: transparent;
    margin-right: 15px;
    margin-left: 10px;
}

.custom-navbar .btn-icon:hover{
    background-color: #bfbfbf;
    border-color: #000066;
    border-color: #bfbfbf;
}

.custom-navbar-header{
    height: 37px;
}

.navbar-nav{
    height: 39px;
}


/*بداية تنسيقات قسم المنتجات المميزة*/

#carousel-featured{
    background-color: #E8F1F2;
    height: 400px;
    padding-top: 25px;
}

#carousel-featured .carousel-item img{
    height: 375px;
}

#carousel-featured .product-details{
    border: 1px solid #D0D0F2;
    padding: 20px;
    position: relative;
    top: 50px;
    height: 200px;
}

#carousel-featured .product-details .product-category{
    border: 1px solid #D0D0F2;
    padding: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #E8F1F2;
}

#carousel-featured .product-details h1{
    font-weight: 700;
    font-size: 175%;
    margin-top: 18px;
}

#carousel-featured .product-details .custom-btn-primary{
    color: orange;
    border-color: orange;
    background-color: transparent;
    padding: 9px 25px;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 2px;
}

.sale{
    background-color: darkblue;
    color: #fff;
    font-weight: bold;
    position: absolute;
}

.sale.large{
    top: -15px;
    left: -15px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 35px;
    line-height: 90%;
    transform: rotate(335deg);
    font-size: 130%;
    display: flex;
    flex-direction: column;
}

#carousel-featured .product-details .sale.large span{
    font-size: 14px;
}

.custom-carousel-indicators-primary{
    top: 235px;
    right: 27.65%;
}

.custom-carousel-indicators-primary img{
    height: 75px;
    width: 75px;
    border: 2px solid #D0D0F2;
    background-color: #fff;
    margin-right: 2px;
}

.custom-carousel-indicators-primary img.active{
    border-color: orange; 
}

#carousel-featured .carousel-control-prev,
#carousel-featured .carousel-control-next{
    background: 0 0;
    color: #D0D0F2;
    text-shadow: none;
    font-size: 20px;
} 

.custom-carousel-control.carousel-control-prev>i{
    position: absolute;
    right: 25%;
}

.custom-carousel-control.carousel-control-next>i{
    position: absolute;
    left: 25%;
}

.carousel-row>.col-12{
    padding: 0;
}